@import 'variables';

html,
body,
.root,
.c-app {
  height: 100%;
  width: 100%;
}

p,
ul {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: 0;
}

.c-no-script {
  background-color: darken($color-purple, 10%);
  box-shadow: inset 0 2px 3px rgba(black, 0.1);
  color: white;
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 700;
  padding: 10px;
  text-align: center;

  @include tablet-desktop {
    font-size: 14px;
  }
}

.c-app {
  background-color: $background-body;
  background-image: url( '../images/bg.jpg' );
  color: $color-text;
  font-family: $font-main;
}

.c-footer {
  color: $color-text;
  flex: none;
  max-height: 150px;
  overflow: hidden;
  text-align: center;

  &__blocktext {
    max-width: 200px;

    @include tablet-desktop {
      max-width: none;
    }
  }

  &__blocked {
    background: rgba( $black, .05 );
    border-top: 1px solid $color-border;
    box-sizing: border-box;
    color: rgba( $black, .5 );
    font-size: 11px;
    height: 45px;
    letter-spacing: .01em;
    line-height: 1.5;
    margin: auto;
    padding: 5px 50px;

    @include small-phone {
      font-size: 10px;
      height: 40px;
      line-height: 1.3;
      padding: 5px 50px;
    }

    @include tablet {
      font-size: 12px;
    }

    @include desktop {
      font-size: 13px;
    }

    .icon-heart {
      color: $color-pink;
      margin-left: .2em;
    }
  }
}

.u-flex {
  display: flex;
}

.u-flex-columns {
  display: flex;
  flex-direction: column;
}

.u-flex-center {
  align-items: center;
  display: flex;
}

.u-flex-center-all {
  align-items: center;
  display: flex;
  justify-content: center;
}

.u-hidden {
  opacity: 0;
}

.u-display-none {
  display: none;
}

.u-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u-no-select {
  user-select: none;
}
