@import 'variables';

.l-lobby {
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 65px;
  min-width: 320px;
  overflow-y: auto;
  padding: 20px;
  width: 100%;

  @include small-phone {
    font-size: 56px;
    padding: 10px;
  }

  @include tablet {
    font-size: 70px;
  }

  @include desktop {
    font-size: 76px;
  }

  @media ( max-height: 450px ) {
    font-size: 65px;
  }
}

.c-announcement {
  background: $color-green;
  border-radius: $border-radius;
  box-shadow: 0 1px 0 darken( $color-green, 5% );
  box-sizing: border-box;
  color: $color-text-header;
  margin-top: auto;
  max-width: 100%;
  padding: .15em .3em;
  text-align: center;
  text-shadow: 0 1px 3px rgba( $black, .1 );
  width: 700px;

  &__text {
    font-size: 11px;
    letter-spacing: .1px;
    line-height: 1.75em;
    margin: auto;

    @include small-phone {
      font-size: 11px;
    }

    @include tablet {
      font-size: 13px;
    }

    @include desktop {
      font-size: 14px;
    }
  }

  a {
    color: $color-text-header;
  }
}

.c-lobby-header {
  flex-shrink: 0;
  font-family: $font-logo;
  line-height: .5em;

  &__welcome {
    font-size: .4em;
    letter-spacing: .03em;
    margin-bottom: -.2em;
  }

  &__name {
    color: $color-purple;
    font-size: 1.08em;
    letter-spacing: .01em;
    text-shadow: 1px 1px 0 darken( $color-purple, 10% );
  }

  &__404 {
    color: $color-purple;
    font-size: 1.08em;
    letter-spacing: .01em;
    line-height: 1;
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 1px 1px 0 darken( $color-purple, 10% );
  }

  &__players {
    font-size: .25em;
    letter-spacing: .025em;
  }
}

.c-lobby-buttons {
  flex-shrink: 0;
  width: 5.2em;
}

.c-lobby-button {
  border: 0;
  border-radius: $border-radius;
  color: $white;
  cursor: pointer;
  flex-basis: 50%;
  font-family: $font-buttons;
  font-size: .3em;
  font-weight: 700;
  letter-spacing: .02em;
  margin: 0 .15em;
  padding: .5em;
  padding-bottom: calc( .5em + 2px );

  &:active {
    margin-top: 1px;
    padding-bottom: calc( .5em + 1px );
  }

  &:focus {
    outline: 0;
  }

  $shadow: darken( $color-purple, 5% );

  &--purple {
    background: $color-purple;
    box-shadow: inset 0 -2px 0 $shadow;

    &:active {
      background: $shadow;
      box-shadow: inset 0 2px 0 darken( $color-purple, 10% );
    }
  }

  $shadow: darken( $color-green, 5% );

  &--green {
    background: $color-green;
    box-shadow: inset 0 -2px 0 $shadow;

    &:active {
      background: $shadow;
      box-shadow: inset 0 2px 0 darken( $color-green, 10% );
    }
  }

  &__icon {
    font-size: .9em;
  }
}

.c-lobby-rooms {
  align-items: stretch;
  background: $white;
  border: 1px solid rgba( $color-border, .5 );
  border-radius: $border-radius;
  box-shadow: 0 1px 0 rgba( $black, .05 );
  box-sizing: border-box;
  flex-shrink: 0;
  margin-bottom: 20px;
  margin-top: .2em;
  padding: .1em;
  width: 5.2em;

  &__none {
    font-family: $font-buttons;
    font-size: .22em;
    letter-spacing: .03em;
    line-height: 1.5;
    margin: 20px 10px;
    opacity: .55;
    text-align: center;
  }
}

.c-room-button {
  align-items: stretch;
  align-self: stretch;
  background: $color-purple;
  border: 0;
  border-radius: $border-radius;
  box-shadow: inset 0 -2px 0 darken( $color-purple, 5% );
  color: $color-text-header;
  cursor: pointer;
  font-size: .4em;
  margin: .15em;
  padding: 0;

  &:active {
    background: darken( $color-purple, 5% );
    box-shadow: inset 0 1px 0 darken( $color-purple, 10% );
    margin-top: calc( .15em + 1px );

    .c-room-button__desc {
      padding-bottom: calc( .35em - 1px );
    }

    .c-room-button__players {
      background: darken( $color-purple, 10% );
      box-shadow: inset 0 1px 0 darken( $color-purple, 15% );
      padding-top: 1px;
    }
  }

  &__desc {
    margin-bottom: 2px;
    padding: .35em;
    text-align: left;
  }

  &__name {
    font-family: $font-logo;
  }

  &__status {
    font-size: .45em;
    margin-top: -.2em;
    opacity: .8;
  }

  &__players {
    background: darken( $color-purple, 5% );
    border-radius: 0 $border-radius $border-radius 0;
    box-shadow: inset 0 -2px 0 darken( $color-purple, 10% );
    font-size: .55em;
    margin-left: auto;
    padding: 0 .5em;
  }

  &__playercount {
    font-size: .8em;
    margin-top: 2px;
    opacity: .8;
  }
}
