@import 'variables';

.c-modal {
  background: $background-modal;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .1s ease;
  z-index: 999;

  &--hidden {
    opacity: 0;
    z-index: -1;
  }

  &__window {
    background: $color-purple;
    border-radius: $border-radius;
    color: $color-text-header;
    font-size: 18px;
    margin: 20px;
    max-width: 300px;
    width: 100%;

    @include small-phone {
      font-size: 17px;
    }

    @include tablet {
      font-size: 19px;
      max-width: 340px;
    }

    @include desktop {
      font-size: 20px;
      max-width: 360px;
    }
  }

  &__header {
    background: darken( $color-purple, 5% );
    border-radius: $border-radius $border-radius 0 0;
    padding: 6px 0;
  }

  &__title {
    font-size: .95em;
    font-weight: 700;
  }

  &__icon {
    font-size: .9em;
    padding: .3em;
    padding-right: 0;
  }

  &__close {
    cursor: pointer;
    margin-left: auto;
    padding: .3em;
  }
}

.c-settings {
  background: $white;
  border-radius: 0 0 $border-radius $border-radius;
  padding: .6em;

  &__row {
    flex-grow: 1;
    font-size: .75em;
  }

  &__label {
    color: $color-text;
    flex-shrink: 0;
    font-weight: 700;
    margin-right: .5em;
  }

  &__input {
    border: 1px solid $color-border;
    border-radius: $border-radius;
    flex-grow: 1;
    padding: .6em;
    width: 100%;
  }

  &__save {
    background: $color-green;
    border: 0;
    border-radius: $border-radius;
    box-shadow: inset 0 -2px 0 darken( $color-green, 5% );
    color: $color-text-header;
    cursor: pointer;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: .03em;
    margin-top: .6em;
    padding: .6em;

    &:active {
      background: darken( $color-green, 5% );
      box-shadow: inset 0 2px 0 darken( $color-green, 10% );
      margin-top: calc( .6em + 1px );
      padding-bottom: calc( .6em - 1px );
    }

    &--copy {
      font-size: 1em;
      margin: 0;
      margin-left: 5px;

      &:active {
        margin-top: 1px;
      }
    }
  }
}

.c-login {
  $breakpoint: 600px;
  background: $background-header;
  color: $color-text-header;
  font-size: 14px;
  padding: 25px;
  width: 100%;

  @include small-phone {
    font-size: 13px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }

  @include max-width( $breakpoint ) {
    flex-direction: column;
    text-align: center;
  }

  &__main,
  &__info {
    margin: 0 10px;
  }

  &__main {
    font-family: $font-logo;
  }

  &__welcome {
    font-size: 1.8em;
    text-shadow: 0 1px 0 darken( $color-purple, 8% );
  }

  &__title {
    font-size: 4.5em;
    letter-spacing: .01em;
    margin-bottom: -.05em;
    margin-top: -.3em;
    text-shadow: 0 2px 0 darken( $color-purple, 8% );
  }

  &__info {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.35em;
    max-width: 20em;

    strong {
      font-size: 1.1em;
      font-weight: 700;
    }
  }

  &__rules {
    font-size: .95em;
    list-style-position: inside;
    margin-top: .4em;

    @include max-width( $breakpoint ) {
      display: none;
    }
  }

  &__rule {
    margin-top: .1em;
  }

  &__bullet {
    font-size: 1.5em;
    margin-right: .25em;
  }

  &__form {
    @include max-width( $breakpoint ) {
      margin-bottom: .75em;
    }
  }

  &__input,
  &__submit {
    border: 0;
    border-radius: $border-radius;
    padding: .5em .6em;
  }

  &__submit {
    background: $color-green;
    box-shadow: inset 0 -2px 0 darken( $color-green, 5% );
    color: $color-text-header;
    cursor: pointer;
    font-family: $font-main;
    font-weight: 700;
    letter-spacing: .03em;
    margin-left: .5em;

    &:active {
      background: darken( $color-green, 5% );
      box-shadow: inset 0 2px 0 darken( $color-green, 10% );
      margin-top: 1px;
      padding-bottom: calc( .5em - 1px );
    }

    &:focus {
      outline: 0;
    }
  }
}
