@import 'variables';

//Flex item between Header and Footer
.l-room {
  box-sizing: border-box;
  flex: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  padding: 5px;

  &.is-portrait {
    .l-board {
      flex-direction: column;
    }

    .l-sidebar {
      flex-direction: row-reverse;
      height: 0;
      max-width: none;
    }

    .l-canvas {
      align-items: center;
      background: $background-behind-canvas-portrait;
    }

    .c-chat {
      border: 1px solid $color-border;
      border-radius: 0 0 $border-radius $border-radius;
      border-top: 0;
      height: 100%;
      margin: 0;
      margin-left: 2px;
      max-width: none;

      &--no-users {
        margin-right: 2px;
      }

      &__box {
        border-bottom-left-radius: 4px;
      }
    }

    .c-users {
      align-items: stretch;
      flex-flow: column nowrap;
      justify-content: flex-start;
      margin: 0;
      margin-right: 2px;
      max-height: calc( 100% - 5px );
      max-width: 42%;
      min-width: 100px;

      &__header {
        border-radius: 0;
        border-top: 0;
      }

      &__user {
        flex: none;
        min-width: 100px;
      }
    }

    .c-user {
      flex: initial;
      flex-shrink: 0;
    }
  }
}

.c-room-error {
  background: rgba( $black, .6 );
  bottom: 0;
  font-size: 32px;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s;
  z-index: 996;

  &--hidden {
    opacity: 0;
    z-index: -1;
  }

  &__window {
    background: $color-purple;
    box-sizing: border-box;
    color: $color-text-header;
    font-family: $font-buttons;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    width: 100%;

    &--afk {
      flex-direction: column;
    }
  }

  &__text {
    font-size: 1.15em;
    margin: 0 5px;
  }

  &__button {
    cursor: pointer;

    &--afk {
      font-size: 1.5em;
      margin-top: 10px;
    }
  }
}

.l-board {
  flex: auto;
  font-size: 12.5px;
  justify-content: center;
  opacity: 1;
  transition: opacity .8s ease-out;
  width: 100%;

  @include small-phone {
    font-size: 12px;
  }

  @include tablet {
    font-size: 13px;
  }

  @include desktop {
    font-size: 13px;
  }

  @media ( max-height: 500px ) {
    font-size: 12px;
  }
}

.l-canvas {
  background: $background-behind-canvas;
  border-radius: $border-radius;
  border-top: 0;
  flex-shrink: 0;
  position: relative;
}

.c-canvas-header {
  background: darken( $color-purple, 2% );
  border-radius: $border-radius $border-radius 0 0;
  box-sizing: border-box;
  color: $white;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: .01em;
  padding: .6em;
  text-align: center;
  width: 100%;

  @include min-width( 900px ) {
    font-size: 1.2em;
  }

  @include min-width( 1200px ) {
    font-size: 1.3em;
  }

  @include compact {
    font-size: 1.05em;
    padding: .5em;
  }
}

.u-blanks {
  letter-spacing: 5px;
  margin-left: 5px;
}

.u-bold {
  font-weight: 700;
}

//Wrapper for positioning the cursor
.l-canvas-cursor {
  line-height: 0;
  margin: auto 0;
  position: relative;
}

.c-canvas {
  background: $white;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  margin: auto 0;
  touch-action: none;
  transition: opacity .1s;
}

.c-canvas-controls {
  $s: &;
  bottom: 0;
  font-size: 13px;
  left: 0;
  margin: .5em;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s;
  z-index: 99;

  @include small-phone {
    font-size: 11px;
  }

  @include tablet {
    font-size: 13px;
  }

  @include desktop {
    font-size: 15px;
  }

  @include min-width( 1200px ) {
    font-size: 16px;
  }

  @media ( max-height: 450px ) {
    font-size: 11px;
  }

  @include compact {
    font-size: 10px;
  }

  //Converted these values to variables as they are used for absolute positioning below
  $button-padding: .25em;
  $button-size: 2.2em;
  $button-palette-size: 2.5em;
  $button-margin: .25em;
  $button-palette-margin: .175em;
  $label-size: .8em;
  $label-margin: .4em;

  &__category {
    background: $background-canvas-controls;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    bottom: 0;
    opacity: 1;
    padding: $button-padding;
    position: absolute;
    transition: opacity .4s;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    //Positioning the pickers using em values
    &--above {
      bottom: ( $button-margin * 2 + $button-padding * 2 + $label-size + $label-margin + $button-size + $button-margin * 2 );
    }

    $buttons-per-line: 6;

    &--palette {
      flex-wrap: wrap;
      width: ( $button-palette-size * $buttons-per-line ) + ( $button-palette-margin * ( $buttons-per-line * 2 ) ) + .1em;
    }

    &--drawing {
      opacity: .25;
    }
  }

  &__option {
    cursor: pointer;
    margin: $button-margin;
    pointer-events: auto;
    touch-action: none;

    &--disabled {
      cursor: default;
      opacity: .5;
    }

    &--drawing {
      cursor: auto;
      pointer-events: none;
    }
  }

  &__button {
    background: $white;
    border: 1px solid rgba( $color-purple, .3 );
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    height: $button-size;
    pointer-events: auto;
    width: $button-size;

    &--active {
      border: 2px solid $color-purple;
    }

    &--disabled {
      cursor: default;
    }

    &--drawing {
      cursor: auto;
      pointer-events: none;
    }

    &--picker {
      height: $button-palette-size;
      margin: $button-palette-margin;
      width: $button-palette-size;
    }

    &--size {
      margin: $button-palette-margin;
    }
  }

  &__label {
    font-size: $label-size;
    letter-spacing: .05em;
    margin-top: $label-margin;

    @include compact {
      font-size: .9em;
    }
  }

  &__icon {
    color: $color-purple;
    font-size: 1.3em;
  }
}

.c-size {
  background: $color-purple;
  border-radius: 50%;

  @for $i from 1 through 20 {
    &--#{$i} {
      height: $i + 1 + px;
      width: $i + 1 + px;
    }
  }
}

.c-canvas-overlay {
  border-radius: $border-radius;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  touch-action: none;
  transition: opacity .2;
  z-index: 99;

  &__window {
    background: rgba( $white, .8 );
    border-radius: $border-radius;
    padding: 20px;
  }

  &__title {
    font-family: $font-logo;
    font-size: 2.2em;
    letter-spacing: .03em;
  }

  &__inner {
    flex-wrap: wrap;
    font-size: 1.5em;
  }

  &__word {
    background: $color-green;
    border-radius: $border-radius;
    box-shadow: inset 0 -2px 0 darken( $color-green, 5% );
    color: $color-text-header;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .05em;
    margin: 5px;
    padding: .5em;
    pointer-events: auto;
    touch-action: none;

    &:active {
      background: darken( $color-green, 5% );
      box-shadow: inset 0 2px 0 darken( $color-green, 10% );
      margin-top: 6px;
      padding-bottom: calc( .5em - 1px );
    }
  }
}

$s: 2em;

.c-canvas-timer {
  background: $color-green;
  border-radius: 50%;
  color: $white;
  font-size: 1.4em;
  font-weight: 700;
  height: $s;
  opacity: .9;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s;
  width: $s;
  z-index: 995;

  &--centered {
    border: .1em solid $white;
    font-size: 3.8em;
    height: 1.8em;
    opacity: 1;
    position: relative;
    width: 1.8em;
  }
}

.c-canvas-cursor {
  border: 1px solid rgba( $black, .6 );
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba( $black, .2 );
  box-sizing: border-box;
  height: 10px;
  left: 0;
  opacity: .6;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 10px;
  z-index: 99;

  &--black {
    border: 1px solid rgba( $white, .6 );
  }
}

.l-sidebar {
  flex-grow: 1;
  max-width: 170px;
  width: 100%;

  &--no-users {
    font-size: .8em;
    max-width: 130px;
  }
}

.c-chat {
  background: $background-chat;
  border: 1px solid $color-border;
  border-left: 0;
  border-radius: 0 $border-radius $border-radius 0;
  flex: 1 1;
  margin-bottom: 2px;

  @include small-phone {
    font-size: .9em;
  }

  &--no-users {
    margin-top: 2px;
  }

  &__buffer {
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
    overflow-y: overlay;
    word-wrap: break-word;

    &::-webkit-scrollbar {
      background-color: rgba( $color-purple, .1 );
      border-left: 1px solid rgba(12, 1, 1, 0.05);
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba( $color-purple, .15 );
    }
  }

  &__box {
    background-color: darken($white, .5%);
    border-bottom-right-radius: 4px;
    border-top: 1px solid $color-border;
    padding: 6px;
  }

  &__input {
    background: $white;
    border: 1px solid rgba( $black, .2 );
    border-radius: 3px;
    box-sizing: border-box;
    color: $color-text;
    font-family: $font-main;
    font-size: .92em;
    padding: 6px;
    width: 100%;

    &::placeholder {
      color: rgba($color-text, .5);
    }
  }
}

.c-chat-message {
  border-bottom: 1px solid rgba( $black, .05 );
  flex: none;
  line-height: 1.4;
  padding: 8px;
  word-break: break-word;

  &--notification {
    color: $color-text-notification;
    font-size: .85em;
    padding: 6px;
  }

  &__name {
    font-weight: 700;
  }

  &__icon {
    color: $color-purple;
    flex-shrink: 0;
    margin-left: -2px;
    margin-right: 2px;
    text-align: center;
  }

  &__notification {
    a {
      border-bottom: 1px solid rgba( $color-purple, .75 );
      color: $color-purple;
      text-decoration: none;
    }
  }
}

.c-scoreboard {
  background: rgba( $white, .8 );
  border-radius: $border-radius;
  box-sizing: border-box;
  font-size: .9em;
  max-height: 100%;
  overflow-y: auto;
  padding: 10px;
  pointer-events: all;

  &__heading {
    font-family: $font-logo;
    font-size: 2.6em;
    margin: auto;
  }

  &__user {
    box-sizing: border-box;
    flex-shrink: 0;
    margin-top: .5em;
    padding: .6em;
    width: 16em;

    &--winner {
      background: $color-purple;
      border-radius: $border-radius;
      box-shadow: inset 0 -2px 0 darken( $color-purple, 5% );
      color: $white;
    }
  }

  &__name {
    flex-grow: 1;
    font-size: 1.8em;
    font-weight: 700;
    margin-right: 10px;
  }

  &__score {
    font-size: 1.4em;
    font-weight: 700;
  }
}

.c-users {
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  flex-shrink: 1;
  margin-bottom: 6px;
  margin-top: 2px;
  max-height: 40%;

  @include small-phone {
    font-size: .95em;
  }

  &__list {
    border-bottom: 1px solid $color-border;
    border-bottom-right-radius: 4px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;

    &::-webkit-scrollbar {
      background-color: rgba( $color-purple, .1 );
      border-left: 1px solid rgba(0, 0, 0, 0.05);
      border-bottom-right-radius: 2px;
      width: 4px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgba( $color-purple, .15 );
    }
  }

  &__playercount {
    opacity: .85;
    letter-spacing: .1em;
    margin-left: auto;
    padding-left: 10px;
  }

  &__header {
    align-items: center;
    background-color: darken($white, 5%);
    border-right: 1px solid $color-border;
    box-shadow: inset 0 -1px 0 rgba(black, .01);
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;
    border-top-right-radius: 4px;
    color: rgba($black, .25);
    flex-shrink: 0;
    font-family: "Roboto";
    font-weight: 700;
    font-size: .8em;
    letter-spacing: .04em;
    padding: .6em;

  }

  &__user {
    align-items: baseline;
    background-color: $white;
    border-bottom: 1px solid rgba($black, .05);
    border-right: 1px solid $color-border;
    box-sizing: border-box;
    color: #757575;
    flex-shrink: 0;
    letter-spacing: .02em;
    padding: .6em;
    transition: border-right .2s, color .2s, background-color .3s;

    &:last-of-type {
      border-bottom: none;
      border-bottom-right-radius: 4px;
    }

    &--drawing,
    &--guessed {
      font-weight: 700;

      .c-users__score {
        font-weight: 400;
      }
    }

    &--drawing {
      background-color: rgba( $color-purple, .85 );
      border-right: 1px solid rgba( $color-purple, .6 );
      color: $white;
    }

    &--guessed {
      background-color: rgba( $color-green, .85 );
      border-right: 1px solid rgba( $color-green, .6 );
      color: $white;
    }

    &--me {
      background-color: darken( $white, 1% );
      color: darken( #757575, 30% );

      .c-users__score {
        opacity: .9;
      }

      &.c-users__user--drawing {
        background-color: rgba( $color-purple, .95 );
        color: $white;
      }

      &.c-users__user--guessed {
        background-color: rgba( $color-green, .95 );
        color: $white;
      }
    }
  }

  &__name {
    flex: 1 0;
    padding-right: 10px;
  }

  &__score {
    font-size: .9em;
    font-weight: 300;
    opacity: .8;
  }
}
